@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';

.container {
  @apply container m-auto lg:px-[120px] px-[20px];
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

@media (max-width: 1024) {
  .swiper-pagination {
    display: none;
  }
}

button {
  cursor: pointer;
}

.article-text {
  * {
    color: white !important;
  }
}

.image_large-elevate,
.image_large__hide-placeholder,
.image_large--eq-extra-small,
.image_large--eq-small,
.image_large--eq-large {
  width: 100% !important;
  max-width: 100% !important;
  img {
    max-width: 100% !important;
  }
}
